// Navigation code here
nav {
	background-color: @wild-sand;
	width: 80%;
	margin: 0 auto;
	padding: 1rem 0;

	h1 {
		text-align: center;
		.large(4rem);
		margin-bottom: 1rem;
	}

	ul {
		width: 100%;
		.large(2rem);
		.flex(flex);
		.lineUp(center);

		a {
			color: @ebony-clay;
			padding: 14px 25px;
			text-align: center;
			text-decoration: none;
			display: inline-block;
		}
	}
}
